.column {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 8vh;
}

.column .card {
  margin-bottom: -138%;
  height: 15vh;
}

.hover-container {
  transition: all .2s ease-in-out;
}

.hover-container.expanded {
  transform: scale(1.4);
}
