.stock {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.stock-pile {
  width: 8vh;
  height: 15vh;
  border: 0.1vh solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 2%;
}

.loop-icon {
  transition: all 2s ease-in-out;
}

.loop-icon:hover {
  transform: scale(1.5);
}
