.game-table {
  background-color: lightgreen;
  min-height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.upper-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 20vh;
  border-bottom: 3px solid black;
}

.game-table .lower-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 80vh;
}
